# Fichiers et dossiers spécifiques au système
.DS_Store
Thumbs.db

# Environnement de développement
.vscode/
.idea/
*.swp

# Fichiers Python compilés / caches
__pycache__/
*.py[cod]
*.so

# Archives et backups
*.zip
*.tar.gz
*.bak

# Fichiers temporaires
*.tmp
*.log

# Environnement virtuel
venv/
env/
.venv/

# Fichiers générés automatiquement (XML)
topologie/*.xml
src/resources/xml/generated*.xml
src/resources/generated/*
# Fichiers Packet Tracer générés
*.pkt
*.pka

# Jetons d’authentification ou données sensibles
.env
*.key
*.pem
# Ignorer les fichiers générés
generated1.xml
src/data/config/*