groq==0.30.0
langchain==0.3.26
langchain-community==0.3.27
langchain-groq==0.3.6
langchain-ollama==0.3.4
matplotlib==3.9.4
numpy==2.0.2
ollama==0.5.1
openai==1.93.1
pandas==2.3.0
pillow==11.3.0
pyserial==3.5
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
twofish==0.3.0
tzdata==2025.2
urllib3==2.5.0
zipp==3.23.0
zstandard==0.23.0
